<h3> Welcome, {{user.full_name}}!</h3>
  {% if user.has_backing? %}
    <br/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            {{campaign.zone_label}}
          </th>
          <th class="hidden-xs hidden-sm">
            Progress
          </th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {% for customer in customers %}
          <tr>
            <td class="col-md-2">
              {{customer.zone.name}}
            </td>
            <td class="col-md-4">
              {% if customer.zone_present? and customer.show_zone_progress? %}
                  <div class="col-md-12 hidden-xs hidden-sm">
                    <div class="zone_progress">
                      <div class="progress">
                        <div aria-valuemax="{{ customer.zone.people_goal }}" aria-valuemin="0" aria-valuenow="{{customer.zone.actual_goal }}" class="progress-bar {{customer.zone.zone_progress_bar_class}}" role="progressbar" style="width: {{ customer.zone.actual_goal_percentage_rounded }}%;">
                          <span>
                            <strong>
                              <div>{{customer.zone.zone_progress}}</div>
                            </strong>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif  %}
                <div class="col-md-3 hidden-xs hidden-sm"></div>
            </td>
            <td class="col-md-3">
              {{ customer.street_address }}
            </td>
            <td class="col-md-3">
              <div class="btn-group">
                {% if customer.incomplete_steps? %}
                    <a type="button" class="btn btn-warning" href="{{ customer.edit_order_url }}" data-disable-with="Processing">Complete Order</a>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                {% else %}
                    <a type="button" class="btn btn-success" href="{{customer.dashboard_review_url}}" data-remote="true" data-disable-with="Processing">Review Order</a>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                {% endif %}
                <ul class="dropdown-menu">
                  <li><a href="{{customer.dashboard_review_url}}" data-remote="true" data-disable-with="Processing">Review Order</a></li>
                  {% if customer.can_cancel? %}
                    <li role="separator" class="divider"></li>
                    <li><a data-confirm="Are you sure?" data-method="delete" href="{{customer.cancel_url}}" rel="nofollow">Cancel Order</a></li>
                  {% endif %}
                </ul>
              </div>

            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

{% else %}
  <br />
    <a href="{{campaign.campaign_root}}">Click here to register for this campaign</a>
  <br />
  <br />
{% endif  %}
